<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="refresh" content="5;URL=/callback" />
  <%- include(headerPath, {
    bot, user, path,
    description: 'Page Does Not Exist',
    description2: 'Page Does Not Exist',
    title: 'Infinity Apps | 404',
    main_title: 'Infinity Apps | 404',
    image: 'none', 
    }) 
  %>
</head>
<body>
   <%- include(navbarPath, { bot, user, path }) %>
   
    <br /><br /><br /><br /><br /><br />
  
    <center>
       <h2 style="color: white;">404</h2>
       <br />
       <p style="color: white;">Whatever you are looking for No longer exists or has been moved!</a></p>
    </center>
  
  </body>
</html>