<!DOCTYPE html>
<html lang="en">
    <!-- INLUCDE THE HEADER IN THE PAGE.-->
    <head>
      <link rel="stylesheet" href="/styling/main/custom-style.css">
    </head>
    <%- include(headerPath, {
      bot, user, path,
      description: 'Terms and Conditions.',
      description2: 'Terms and Conditions.',
      title: 'Infinity Apps | Terms of Service',
      main_title: 'Infinity Apps| Terms of Service',
      image: 'none',
      }) 
    %>
    <!-- START THE ACTUAL PAGE BODY.. YEET. -->
    <body>

    <%- include(navbarPath, { bot, user, config, staff, path }) %>

    <br><br><br><br><br><br><br><br><br><br>

    <center>
        <div class="container">
            <p translate="no">
              By accessing the Infinity Bot List website, you are agreeing to be bound by these Terms of Service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.
              If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
            <br><br>
              This website is not for use by those under 13 years of age, and Infinity Bots does not knowingly store information from children under 13.
            <br />
              Infinity Bot List is not associated with or affiliated with <a href="https://discord.com/">Discord</a> and its Partners, Affiliates or Representatives.
            </p>
          </div>
    </center>

        <hr style="color: white; background-color: white; width: 600px;">

        <br /><br />    

      <center>
        <div class="container">
          <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i> Intellectual Property</h2>
          <p>
            This website and its original content, features, and functionality are owned by Infinity Bots and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws. 
            All data generated and shared by Infinity Bots in the past, present, or future is property of Infinity Bot List and it's sole owners and must be transferred, removed, or changed on request.
          </p>
        </div>
      </center>

        <hr style="color: white; background-color: white; width: 600px;">

        <br /><br />    
          
    <center>    
      <div class="container">
          <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i> Restrictions</h2>
          <p>
             You are expressly and emphatically restricted from all of the following:
          </p>
          <br>
            <dl>
              <li>modifying or copying any website material;</li>
          <br>
              <li>selling, sublicensing and/or otherwise commercializing any website material;</li>
          <br>
              <li>attempting to decompile or reverse engineer any software contained on this website;</li>
          <br>
              <li>removing any copyright or other proprietary notations from website materials;</li>
          <br>
              <li>transferring website materials to another person or "mirroring" the materials on any other server;</li>
          <br>
              <li>using this website in any way that is, or may be, damaging to this website;</li>
          <br>
              <li>using this website in any way that impacts user access to this website;</li>
          <br>
              <li>using this website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the website, or to any person or business entity;</li>
          <br>
              <li>engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation to this website, or while using this website;</li>
          <br>
              <li>using this website to engage in any advertising or marketing without permission from Infinity Bots or our advertising partners;</li>
            </dl>
          </div>
    </center>

        <hr style="color: white; background-color: white; width: 600px;">

        <br /><br />    

      <center>
        <div class="container">
          <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Your Content</h2>
          <p>
            In these Terms of Service, "Your Content" shall mean any audio, video, text, images, or other material you choose to submit to this website. With respect to Your Content, by submitting it, you grant Infinity Bots a non-exclusive, worldwide, irrevocable, royalty-free, sublicensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media. Your Content must be your own and must not be infringing on any third party’s rights. Infinity Bots reserves the right to remove any of Your Content from this website at any time, and for any reason, without notice.
          </p>
        </div>
      </center>
           <br>
          <hr>
          <div id="card" class="container">
          <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Termination</h2>
            <p>
          We may terminate your access to the website, without cause or notice, which may result in the destruction of all information associated with your account. All provisions of this agreement that, by their nature, should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
            </p>
                  </div>
                </div>
              </div>
          <br>
          <hr>
          <div id="card" class="container">
          <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>No Warranties</h2>
            <p>
           This website is provided "as is" with no warranty or liability for any outcomes of using the website and/or any content you may or may not interact with on the website, and you agree that Infinity Bots is not liable for any events in the past, in current times, or in the future. Infinity Bots is not responsible and will not take responsibility for the behavior of other parties using the website.
            </p>
                  </div>
                </div>
              </div>
          <br>
          <hr>
          
          <div id="card" class="container">
          <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Limitation of Liability</h2>
            <p>
          In no event shall Infinity Bots, nor any of its representatives, be liable to you for anything arising out of or in any way connected with your use of this website, whether such liability is under contract, tort or otherwise, and Infinity Bots, including its representatives, shall not be liable for any indirect, consequential, or special liability arising out of or in any way related to your use of this Website.
            </p>
                  </div>
                </div>
              </div>
           <br>
          <hr>
          
          <div id="card" class="container">
          <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Accuracy of Materials</h2>
            <p>
          The materials appearing on Infinity Bot List's website could include technical, typographical, or photographic errors. Infinity Bots does not warrant that any of the materials on its website are accurate, complete, or current. Infinity Bots and its users may make changes to the materials contained on the website at any time without notice. However, Infinity Bots does not make any commitment to update the materials.
            </p>
           <br>
          <hr>
          
          <div id="card" class="container">
          <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Links</h2>
          <p>
          This website contains links to many other websites not controlled by Infinity Bots. Infinity Bots is not responsible for the contents or behavior of such linked websites. The inclusion of links on this website does not imply endorsement by Infinity Bots. Any use of linked websites is done at the user's own risk.
          </p>
            </div>
           </div>
          </div>
           <br>
          <hr>
          
          <div id="card" class="container">
           <center><h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Modifications</h2></center>
            <p>
          Infinity Bots may revise these Terms of Service at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
            </p>
            </div>
           </div>
          </div>
           <br>
          <hr>
          
          <div id="card" class="container">
           <center><h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Governing Law</h2></center>
            <p>
          These terms and conditions are governed by and construed in accordance with Canadian Law and you irrevocably submit to the exclusive jurisdiction of the courts in that Country.
            </p>
            </div>
           </div>
          </div>
           <br>
          <hr>
          <h2>Credit & Contact Information</h2>
            <p>This Terms and conditions page was last modified on: <strong>05/21/2021.<strong> 
            <br><br>
                If you have any queries regarding any of our terms, please contact us.
            </p>		
            </div>
        </div>
    </div>
</center>

</body>

<style>

  body {
    font-family: "Times New Roman", Times, serif;
    background-color: #16151d;
  }

  p {
    color: white;
  }

  h1 {
    color: white;
  }

  h2 {
    color: white;
  }

  h3 {
    color: white;
  }

  h4 {
    color: white;
  }
  li {
    color: white;
  }
</style>

 <br><br><br><br><br><br>

    <!-- INCLUDE THE WEBSITE FOOTER -->
    <%- include(footerPath) %>
</html>
